<!DOCTYPE html>
<html lang="en">


<!-- test -->

<head>
  <link
    href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic'
    rel='stylesheet' type='text/css'>

  <title>Data Lake Final Project</title>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename= './css/style.css') }}">
</head>

<!-- test -->

<body>
  <!-- Testing testing 123 -->
  <div class="head">
    <div class="headerobjectswrapper">
      <div class="weatherforcastbox"><span style="font-style: italic;">Weatherforcast for the next 24 hours: Ice
          Cold Winter</span><br><span>Wind: 17km/h SSE; Ther: 21°C; Hum: 15%</span></div>
      <header>Earthquakes <br>About </header>
    </div>

    <div class="subhead">Arlington, VA - Wednesday November 20th, 2019 - Seven Pages
      <nav style="padding-left: 6cm;">
        <div>
        </div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" class="subhead" style="text-align: center; align-content: center;">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a style="color:	black; font: 28px ; " class="navbar-brand" href="/">Earthquakes</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="align-items: center;">
          <ul class="nav navbar-nav background-color= #">
            <li class="dropdown" style="color:	white; font: 20px ; ">
            </li>
            <li> <a href="{{ url_for('news1') }}">Earthquake
                Visualizations</a></li>
            <li> <a href="{{ url_for('aboutr') }}">About</a>
            </li>
            <li><a href="{{ url_for('data1') }}">Earthquake
                Predictions</a></li>
            <li> <a href="{{ url_for('maps1') }}">Earthquake
                Map</a></li>


          </ul>
        </div>
    </div>
    </nav>
  </div>
  </div>
  <!-- End of testing nav bar -->

  <body>
    <div>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
        </button>
      </div>
    </div>
    </nav>
    <div>
      <!-- test -->
      <div class="collumn" style="padding-left: 8mm; padding-right: 4mm; width: 5in;">
        <div class="head"><span class="headline hl5">Earthquakes</span>
          <p><span class="headline hl6">Our Mission</span></p>
        </div>

        </p>
        <p style="padding-left: 8mm; padding-right: 4mm;">The purpose of this project was to analyze how
          Earthquakes
          affects us. To accomplish this analysis, we
          first pulled data from numerous sources
          such as the US Geological Survey, news sites around the world and a 44 year trove of earthquake
          activity.</p>

        <p> After assembling the dataset, D3 and Leaflet was
          used to
          plot earthquakes worldwide with infrastructure
          and hazardous correlation layers. This has the added
          benefit of functionality to animate all fourty four years of timeline.
          All fourty four years of worldwide earthquake data is searchable to vistors of the website.
          Additionally, some of the most popular earthquake information is web scrapable upon demand by
          user with the
          click of a button.
          Future interations of this website will include machine learning data which will try to predict
          future
          earthquakes based
          upon previous earthquake data.</p>

      </div>
      <div class="collumn" style="width: 8in;">
        <div class="head"><span class="headline hl1">Data Lake </span>
          <p style="align-items: center;">
            <img src="/static/Photos/datalakepic.PNG" width="760" height="130" alt="logo"> </p>
          <p><span class="headline hl2">Meet The Team</span></p>
          <!-- Meet the Team section  -->
          <div class="row">
            <!-- Mikes Card -->
            <div class="column">
              <div class="card">
                <img class="media" src="/static/Photos/Mike_pp.PNG" alt="Mike">
                <div class="containerA">
                  <h2>Mike</h2>
                  <p class="title" style="color:#39B7CD;">Data Analysist</p>

                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>
            <!-- Maria Card -->
            <div class="column">
              <div class="card">
                <img class="media" src="/static/Photos/Maria_pp.PNG" alt="Maria">
                <div class="containerA">
                  <h2>Maria</h2>
                  <p class="title" style="color:#39B7CD;">Data Analysist</p>

                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>
            <!-- Gene Card -->
            <div class="column">
              <div class="card">
                <img class="media" src="/static/Photos/Gene_pp.png" alt="Gene">
                <div class="containerA">
                  <h2>Gene </h2>
                  <p class="title" style="color:#39B7CD;"> Data Analysist</p>
                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>
            <!-- Lydia -->
            <div class="column">
              <div class="card">
                <!-- test -->
                <img class="media" src="/static/Photos/profilepic1-lydz.jpg" alt="Lydia">
                <!-- end -->
                <div class="containerA">
                  <h2>Lydi-Ly</h2>
                  <p class="title" style="color:#39B7CD;">Data Analysist</p>
                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </p>
      </div>
      <div class="collumns">
        <div class="collumn" style="width: 13in;">
          <p> <span class="citation">"Don't under&shy;estimate the Force. "</span> </p>
        </div>
      </div>
    </div>
    </div>
    <!-- test end -->
  </body>
  </div>
  </div>
  </div>
  </div>
  </div>
  <br>
  <h3 class="text-center">Earthquakes</h3>
  <br>
  </div>

  <!-- Footer test  -->
  <footer>
    <div class="text-center social-container">
      <a href="/">
        <img alt="DataLake" class="datakind-logo company-name" src="/static/Logo1.png" class="logo" width="100"
          height="50">
      </a>
      <ul class="social">

        <a href="https://www.python.org/"><img src="/static/Photos/python.PNG" alt="Earthquake Data Visualizations"
            class="facebook-footer-icon" width="100" height="50"></a>

        <a href="https://www.javascript.com/"><img src="/static/Photos/javascript.PNG" alt="JS"
            class="facebook-footer-icon" width="100" height="50"></a>

        <a
          href="https://aws.amazon.com/free/?all-free-tier.sort-by=item.additionalFields.SortRank&all-free-tier.sort-order=asc"><img
            src="/static/Photos/aws_logo.PNG" alt="AWS" class="facebook-footer-icon" width="100" height="50"></a>

        <!-- new powered by logos -->
        <a href="https://www.zepl.com/"><img src="/static/Photos/zepl_logo.PNG" alt="Zepl" class="facebook-footer-icon"
            width="100" height="50"></a>

        <a href="heroku.com"><img src="/static/Photos/heroku_logo.PNG" alt="Zepl" class="facebook-footer-icon"
            width="100" height="50"></a>

        <a
          href="https://www.sas.com/en_us/whitepapers/machine-learning-primer-108796.html?utm_source=google&utm_medium=cpc&utm_campaign=ai-ml-us&utm_content=GMS-62586&keyword=machine+learning&matchtype=p&publisher=google&gclid=Cj0KCQiA2b7uBRDsARIsAEE9XpFV_5wUDs3RwTEugaOr0868JHBCfEIucDNlfrfApaF6Q4p7kRsTtdMaAqjKEALw_wcB"><img
            src="/static/Photos/machine_learn.PNG" alt="Machine Learning" class="facebook-footer-icon" width="100"
            height="50"></a>



        <!-- end powered by logos -->

        <a href="http://flask.palletsprojects.com/en/1.1.x/"><img src="/static/flask.PNG" alt="Mongo"
            class="facebook-footer-icon" width="100" height="50"></a>
      </ul>
    </div>
    <div class="text-center copy-right-text">
      © 2019 DataLake, Inc. All Rights Reserved. <a href="/">Privacy Policy</a>
    </div>
  </footer>

</body>