


<head>
  <meta charset="UTF-8">
  <title>Earthquake Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="static/css/style.css"> -->
</head>

<!DOCTYPE html>
<html lang="en">


<!-- test -->

<head>
  <link
    href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic'
    rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Data Lake Final Project</title>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<!-- test -->

<head>
  <meta charset="UTF-8">
  <title>Earthquake Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename= './css/style.css') }}">
</head>

<body>
  <!-- Testing testing 123 -->
  <div class="head">
    <div class="headerobjectswrapper">
      <div class="weatherforcastbox"><span style="font-style: italic;">Weatherforcast for the next 24 hours: Ice
          Cold Winter</span><br><span>Wind: 17km/h SSE; Ther: 21°C; Hum: 15%</span></div>
      <header>Earthquakes <br> Data</header>
    </div>

    <div class="subhead">Arlington, VA - Wednesday November 20th, 2019 - Seven Pages
      <nav style="padding-left: 6cm;">
        <div>
        </div>
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header" class="subhead" style="text-align: center; align-content: center;" >
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a style="color:	black; font: 28px ; " class="navbar-brand" href="/">Earthquakes</a>
          </div>
          <!-- Add a logo -->
          <!-- Trying to cneter logo not working -->
          <div class="topnav-centered">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="align-items: center;">
              <ul class="nav navbar-nav background-color= #">
                <li class="dropdown" style=" font: 20px ; ">
                </li>
                <li> <a href="{{ url_for('news1') }}">Earthquake
                     Visualizations</a></li>
                <li> <a href="{{ url_for('aboutr') }}">About</a>
                </li>
                <li><a href="{{ url_for('data1') }}">Earthquake
                    Data</a></li>
                <li> <a href="{{ url_for('maps1') }}">Earthquake
                    Map</a></li>


              </ul>
            </div>
          </div>
      </nav>
    </div>
  </div>
  <!-- End of testing nav bar -->

 
<body>       
       <!-- Creates the Overall Grid -->
  <div class="container">

    <h1>Earthquake Data Filtering</h1>
    <!-- <p>What's the frequency, Kenneth? The Truth is Out There</p> -->
  </div>
  <div class="container">
    <div class="row margin-top-50">
      <div class="col-md-2">
        <aside class="filters">
          <div class="panel panel-default">
            <div class="panel-heading">Filter Search</div>
            <div class="panel-body">
              <form>
                <div class="form-group">
                  <ul class="list-group" id="filters">
                    <li class="filter list-group-item">
                      <label for="DateTime">Enter a Date</label>
                      <input class="form-control" id="DateTime" type="text" placeholder="ex: 1/11/2011">
                    </li>
                    <li class="filter list-group-item">
                      <label for="EventID">Enter an Event ID</label>
                      <input class="form-control" id="EventID" type="text" placeholder="ex: 1970010640.0">
                    </li>
                    <li class="filter list-group-item">
                      <label for="Depth">Enter a Depth</label>
                      <input class="form-control" id="Depth" type="text" placeholder="ex: 80.0">
                    </li>
                    <li class="filter list-group-item">
                      <label for="Magnitude">Enter a Magnitude</label>
                      <input class="form-control" id="Magnitude" type="text" placeholder="ex: 6.1">
                    </li>
                    <li class="filter list-group-item">
                      <label for="NbStations">Enter a NB Station</label>
                      <input class="form-control" id="NbStations" type="text" placeholder="ex: 199">
                    </li>
                  </ul>
                </div>
                <button id="filter-btn" type="button" class="btn btn-default">Filter Table</button>
                <button id="reset-btn" type="button" class="btn btn-default" onclick="window.location.reload()">Reset
                  Table</button>

              </form>
            </div>
          </div>
        </aside>
      </div>
      <div class="col-md-10">
        <div id="table-area" class="">
          <table id="ufo-table" class="table table-striped">
            <thead>
              <tr>
                <th class="table-head">Date</th>
                <th class="table-head">Latitude</th>
                <th class="table-head">Longitude</th>
                <th class="table-head">Depth</th>
                <th class="table-head">Magnitude</th>
                <th class="table-head">MagType</th>
                <th class="table-head">NbStations</th>
                <th class="table-head">Gap</th>
                <th class="table-head">Distance</th>
                <th class="table-head">RMS</th>
                <th class="table-head">Source</th>
                <th class="table-head">EventID</th>

              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <span class="bottom">Earthquake Filter</span>
  </footer>
  </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="static/js/data.js"></script>
<script src="static/js/app.js"></script>

<script>
  function resetForm() {
    document.getElementById("myForm").reset();
  }
</script>

<footer>
		<div class="text-center copy-right-text" style=" text-emphasis-color: #39B7CD;">
			© 2019 DataLake, Inc. All Rights Reserved. <a href="/">Privacy Policy</a>
		  </div>
		</footer>

</html>