<!DOCTYPE html>
<html lang="en">
​

<!-- test -->

<head>
	<link
		href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic'
		rel='stylesheet' type='text/css'>

	<title>Data Lake Final Project</title>
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static',filename= './css/style.css') }}">

</head>


<body>
	<!-- Testing testing 123 -->
	<div class="head">
		<div class="headerobjectswrapper">
			<div class="weatherforcastbox"><span style="font-style: italic;">Weatherforcast for the next 24 hours: Cold
					Cold Winter</span><br><span>Wind: 7km/h SSE; Ther: 21°C; Hum: 82%</span></div>
			<header>Earthquakes<br>Visualizations </header>
		</div>

		<div class="subhead">Arlington, VA - Wednesday November 20th, 2019 - Five Pages
			<nav style="padding-left: 6cm;">
				<div>
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a style="color:	black; font: 28px ; " class="navbar-brand" href="/">Earthquakes</a>
					</div>

					<div class="topnav-centered">

						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav ">
								<li class="dropdown" style=" font: 20px ; ">
								</li>
								<li> <a href="{{ url_for('news1') }}">Earthquake
										Visualizations</a></li>
								<li> <a href="{{ url_for('aboutr') }}">About</a>
								</li>
								<li><a href="{{ url_for('data1') }}">Earthquake
										Data</a></li>
								<li> <a href="{{ url_for('maps1') }}">Earthquake
										Map</a></li>


							</ul>
						</div>
					</div>
			</nav>
		</div>
	</div>
	<!-- End of testing nav bar -->



	<br>
	<div class="container-fluid">
		<div class="collumns">
			<div class="collumn" style="width: 13in; height:4in ;">
				<div class="jumbotron text-center"
					style="background-image: url(https://files.slack.com/files-pri/TJDK5JD71-FQLV0E612/map3.gif) ; background-size: 100%; width: 13in; height: 4in;">
					<span style="font-size: 50px;" class="headline hl3">Earthquake Visualization Analysis</span>


				</div>
			</div>
		</div>

		<!-- test -->
		<div class="collumns">
		<div class="collumn" style="padding-left: 1mm; width: 7in;">
			<div class="head"><span class="headline hl5">Earthquakes</span>
				<p><span class="headline hl6">visualizations</span>
					<!-- <div class="row"> -->
						<div class="col-md-4 " style="width: 7in;">
							<div class='tableauPlaceholder' id='viz1573695072886' style='position: relative'>
								<noscript><a href='#'><img alt=' '
											src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ea&#47;Earthquakes_15729298219800&#47;NumberofQuakesandMagnitude&#47;1_rss.png'
											style='border: none' /></a></noscript><object class='tableauViz'
									style='display:none;'>
									<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
									<param name='embed_code_version' value='3' />
									<param name='site_root' value='' />
									<param name='name'
										value='Earthquakes_15729298219800&#47;NumberofQuakesandMagnitude' />
									<param name='tabs' value='yes' />
									<param name='toolbar' value='yes' />
									<param name='static_image'
										value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ea&#47;Earthquakes_15729298219800&#47;NumberofQuakesandMagnitude&#47;1.png' />
									<param name='animate_transition' value='yes' />
									<param name='display_static_image' value='yes' />
									<param name='display_spinner' value='yes' />
									<param name='display_overlay' value='yes' />
									<param name='display_count' value='yes' /></object></div>
							<script
								type='text/javascript'>                    var divElement = document.getElementById('viz1573695072886'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.minWidth = '900px'; vizElement.style.maxWidth = '100%'; vizElement.style.minHeight = '610px'; vizElement.style.maxHeight = (divElement.offsetWidth * 0.75) + 'px'; } else if (divElement.offsetWidth > 500) { vizElement.style.minWidth = '420px'; vizElement.style.maxWidth = '100%'; vizElement.style.minHeight = '610px'; vizElement.style.maxHeight = (divElement.offsetWidth * 0.75) + 'px'; } else { vizElement.style.width = '100%'; vizElement.style.minHeight = '1000px'; vizElement.style.maxHeight = (divElement.offsetWidth * 1.77) + 'px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
						</div>
				</p>
			</div>

			
		</div>
		<div class="collumn" style="width: 4in;">
			<div class="head"><span class="headline hl1">Data Lake </span>
				<p style="align-items: center;">
					<img src="/static/Photos/Capture_zepl.PNG" style="width: 4in;"> </p>
				<p><span class="headline hl2">Meet The Team</span></p>
				

			</div>
			</p>
		</div>
		
	</div>
	</div>
	<!-- test end -->
	</div>
	<br>
	<h3 class="text-center">Earthquakes</h3>
	<br>
</body>
​<footer>
	<div class="text-center copy-right-text" style=" text-emphasis-color: #39B7CD;">
		© 2019 DataLake, Inc. All Rights Reserved. <a href="/">Privacy Policy</a>
	</div>
</footer>

<!-- test -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- end test -->
</html>